<% meta_tag :description, "Розклад занять СумДУ, КПІ, ХНЕУ" %>
<% meta_tag :keywords, "Розклад,СумДУ,КПІ,ХНЕУ" %>
<% @title = "Мій Університет - Розклад СумДУ, КПІ, ХНЕУ" %>

<%= render "layouts/header" %>

<div class="container">

  <div class="row">
    <div class="alert alert-secondary mx-3" role="alert">
    🔥 Нова версія Android додатку вже в <a href="https://play.google.com/store/apps/details?id=ua.com.myuniversity" class="alert-link">Google Play</a>
    </div>
  </div>

  <div class="row mb-3 universities-cards">
    <div class="card-deck mr-0 ml-0">

      <% @universities.each do |university| %>

      <div class="card">
        <div class="card-header">
          <h3 class="mb-0"><%= university.short_name %></h3>
        </div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-md-3 mb-2">
              <picture>
                <% if university.url == University.sumdu_url %>
                <source srcset="/sumdu-white.svg" media="(prefers-color-scheme: dark)">
                  <img src="/sumdu.svg" height="64" width="64">
                  <% elsif university.url == University.kpi_url %>
                  <source srcset="/kpi-white.svg" media="(prefers-color-scheme: dark)">
                    <img src="/kpi.svg" height="64" width="64">
                    <% elsif university.url == University.khnue_url %>
                    <source srcset="/khnue-white.svg" media="(prefers-color-scheme: dark)">
                      <img src="/khnue.svg" height="62" width="62">
                      <% end %>
                    </picture>
                  </div>

                  <div class="col-md-9">
                    <small class="card-subtitle Text-light font-weight-light"><%= university.full_name %></small>
                  </div>
                </div>

                <div class="card-text">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0">
                      <%= octicon "organization", height: 24, width: 24, class: "align-middle" %>
                      <span class="align-middle"><%= link_to 'Групи', university_groups_url(university.url), class: "align-middle ml-2" %></span>
                    </li>

                    <li class="list-group-item border-0">
                      <%= octicon "briefcase", height: 24, width: 24, class: "align-middle" %>
                      <%= link_to 'Викладачі', university_teachers_url(university.url), class: "align-middle ml-2" %>
                    </li>

                    <% if university.url != University.kpi_url %>
                    <li class="list-group-item border-0">
                      <%= octicon "sign-in", height: 24, width: 24, class: "align-middle" %>
                      <%= link_to 'Аудиторії', university_auditoriums_url(university.url), class: "align-middle ml-2" %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="card-footer">
                <% if university.url == University.sumdu_url %>
                <p class="text-muted font-weight-lighter"><small>Інформація про аудиторії, викладачів та групи із сайту schedule.sumdu.edu.ua</small></p>
                <% elsif university.url == University.kpi_url %>
                <p class="text-muted font-weight-lighter"><small>Інформація про викладачів та групи із сайту rozklad.org.ua</small></p>
                <% elsif university.url == University.khnue_url %>
                <p class="text-muted font-weight-lighter"><small>Інформація про аудиторії, викладачів та групи із сайту hneu.edu.ua</small></p>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>


        <div class="jumbotron mb-3">
          <h1>Маєте ідеї чи побажання?</h1>
          <p class="lead Text-light">Знаєте як покращити наш сервіс? Залиште відгук!</p>
          <a class="btn btn-primary btn-lg" href="https://forms.gle/QuLTXgoKMXbDACGD6">Напишіть нам »</a>
        </div>

      </div>

      <%= render "layouts/footer" %>
