<% meta_tag :description, "Зручний розклад занять для навчальних закладів" %>
<% meta_tag :keywords, "Розклад,університети,пари,заняття,викладачі,студенти,аудиторії" %>
<% @title = "Мій Університет - Зручний розклад" %>

<%= render "layouts/header" %>

<div class="container">

  <div class="row">
    <div class="alert alert-secondary mx-3" role="alert">
      <i class="fas fa-ad mr-1"></i><a href="/ads" class="alert-link">Спонсорство та реклама</a>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">

    <div class="container py-4">
    <div class="card-deck-wrapper">
        <div class="card-deck">
          <% @universities.each do |university| %>
            <div class="card">

            <a class="card-block stretched-link text-decoration-none" href="<%= university_url(url: university.url)%>">
              <div class="card-header">
                <div class="media">
                  <%= render "universities/university_picture", university: university %>
                  <div class="media-body">
                  <h2 class="mt-0"><%= university.short_name %></h2>
                  </div>
                </div>
              </div>
              <div class="card-body"><p class="card-text text-muted"><%= university.full_name %></p></div>
          </a>

            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <div class="row mb-3">
    <div class="col">
      <a class="btn btn-primary btn-lg float-right" href="/universities/list">Всі університети »</a>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="jumbotron mb-3">
        <h1>Маєте ідеї чи побажання?</h1>
        <p class="lead Text-light">Знаєте як покращити наш сервіс? Залиште відгук!</p>
        <a class="btn btn-info btn-lg" href="https://forms.gle/QuLTXgoKMXbDACGD6" rel="nofollow">Напишіть нам »</a>
      </div>
    </div>
  </div>

</div>

<%= render "layouts/footer" %>
