<main role="main">
  <div class="container pt-4">
    <div class="row">
      <div class="col">
        <h1>Університети</h1>
        <p><%= link_to 'Додати університети', new_admin_university_path %></p>
        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              <% @admin_universities.each do |admin_university| %>
              <tr>
                <td><span class="font-weight-normal"><%= admin_university.full_name %></span> <span class="font-weight-light">(<%= admin_university.short_name %>)</span></td>
                <td><%= link_to 'Показати', admin_university_path(admin_university.id) %></td>
                <td><%= link_to 'Редагувати', edit_admin_university_path(admin_university) %></td>
                <td><%= link_to 'Видалити', admin_university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "admin/navbar" %>