<% meta_tag :description, "Розклад занять #{@university.short_name}, Аудиторії" %>
<% meta_tag :keywords, 'Аудиторії, #{@university.short_name},Розклад,Мій Університет,My University' %>

<%= render "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<main class="container custom-padding-top" role="main">

	<h1><%= octicon "sign-in", height: 32, width: 32 %> Аудиторії</h1>
	<table class="table table-striped">
		<tbody>
			<% @auditoriums.each do |auditorium| %>
			<tr>
				<td><%= link_to auditorium.name, university_auditorium_url(@university.url, auditorium.friendly_id) %></li></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="container">
		<div class="row">
			<% if @university.url == 'sumdu' %>
			<p class="text-muted font-weight-lighter"><small>Інформація про аудиторії із сайту schedule.sumdu.edu.ua</small></p>
			<% end %>
		</div>
	</div>

</main>
<%= render "layouts/footer" %>
