<%= render "records/links" %>
<hr>

<p id="notice"><%= notice %></p>

<h1><%= @university.short_name %> - Аудиторії</h1>

<table>
  <thead>
    <tr>
      <th>Назва</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auditoriums.each do |auditorium| %>
      <tr>
        <td><%= auditorium.name %></td>
        <td><%= link_to 'Показати', university_auditorium_url(@university.url, auditorium.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<%= render "records/links" %>