<% meta_tag :description, "#{@university.short_name}, Аудиторії" %>
<% meta_tag :keywords, "Аудиторії, #{@university.short_name}" %>
<% @title = "#{@university.short_name} - Аудиторії" %>

<%= render "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<main class="container" role="main">
	<h1 class="mb-4"><%= octicon "sign-in", height: 32, width: 32 %> Аудиторії</h1>
	<table class="table table-sm table-striped">
		<tbody>
			<% @auditoriums.each do |auditorium| %>
			<tr>
				<td><%= link_to auditorium.name, university_auditorium_url(@university.url, auditorium.friendly_id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="container">
		<div class="row">
			<% if @university.url == 'sumdu' %>
			<p class="text-muted font-weight-lighter"><small>Інформація про аудиторії із сайту schedule.sumdu.edu.ua</small></p>
			<% end %>
		</div>
	</div>
</main>
<%= render "layouts/footer" %>
