<% meta_tag :description, "Розклад занять СумДУ, Аудиторія " + @auditorium.name %>

<%= render "layouts/navbar", university: @university %>
<p id="notice"><%= notice %></p>

<main class="container custom-padding-top" role="main">
	<p>
		<h1><%= @auditorium.name %></h1>(Аудиторія)
	</p>

	<%= render "records/show", records: @records, university: @university %>
</main>
<%= render "layouts/footer" %>