<% meta_tag :description, "Розклад занять #{@university.short_name}, Групи" %>
<% meta_tag :keywords, "Групи, #{@university.short_name},Розклад,#{@university.full_name},Мій Університет,My University" %>

<%= render "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<main class="container custom-padding-top" role="main">

	<h1>Групи</h1>

	<table class="table table-striped">
		<tbody>
			<% @groups.each do |group| %>
			<tr>
				<td><%= group.name %></td>
				<td><%= link_to 'Показати', university_group_url(@university.url, group.id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</main>
<%= render "layouts/footer" %>