<% meta_tag :description, "Розклад занять #{@university.short_name}, Групи" %>
<% meta_tag :keywords, "Групи, #{@university.short_name},Розклад,#{@university.full_name}" %>
<% @title = "#{@university.short_name} - Групи" %>
<%= content_for(:canonical_link, university_groups_url(@university.url)) %>
<% no_index %>

<%= render "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<main class="container" role="main">

  <h1><%= octicon "organization", height: 32, width: 32 %> Групи</h1>
  <table class="table table-sm table-striped">
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, university_group_url(@university.url, group.friendly_id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <% if @university.url == 'sumdu' %>
      <p class="text-muted font-weight-lighter"><small>Інформація про групи із сайту schedule.sumdu.edu.ua</small></p>
      <% elsif @university.url == 'kpi' %>
      <p class="text-muted font-weight-lighter"><small>Інформація про групи із сайту rozklad.org.ua</small></p>
      <% end %>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
