<%= render "records/links" %>
<p id="notice"><%= notice %></p>

<h1><%= @university.short_name %> - Групи</h1>

<table>
  <thead>
    <tr>
      <th>Назва</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Показати', university_group_url(@university.url, group.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "records/links" %>
