<%= content_for(:canonical_link, university_group_url(@university.url, @group)) %>

<div data-university-url="<%= @university.url %>"></div>
<div data-type="groups"></div>
<div data-id="<%= @group.id %>"></div>
<div data-pair-date="<%= @pair_date %>"></div>

<%= javascript_include_tag 'records' %>

<% meta_tag :keywords, "Розклад, #{@university.short_name}, Група, #{@group.name}" %>
<% meta_tag :description, "Розклад занять #{@university.short_name}, Група " + @group.name %>
<% @title = "#{@university.short_name} - #{@group.name}" %>

<%= render "layouts/navbar", university: @university %>
<p id="notice"><%= notice %></p>

<main class="container" role="main">
	<h1><%= @group.name %></h1>(група)
	<%= render "layouts/datepicker", pair_date: @pair_date %>
	<div id="spinner" class="d-flex justify-content-center min-vh-100">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<div id="records"></div>
	<%= render "layouts/source_site" %>
</main>
<%= render "layouts/footer" %>
