<% meta_tag :description, "Розклад занять СумДУ, Група " + @group.name %>

<%= render "layouts/navbar", university: @university %>
<p id="notice"><%= notice %></p>

<main class="container custom-padding-top" role="main">
	<p>
		<h1><%= @group.name %></h1>(група)
	</p>

	<%= render "records/show", records: @records, university: @university %>
</main>
<%= render "layouts/footer" %>