<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row"><h1>Співпраця</h1></div>
    <div class="row">
     <p>
      Ми пропонуємо підключення до сервісу <b>Мій Університет</b> для навчальних закладів України.
    </p>
  </div>
</div>

<div class="container mb-2">
  <div class="row">
    <h3>Ми пропонуємо:</h3>
  </div>
  <div class="row">
    <ul>
      <li>Систему для керування розкладом для викладачів</li>
      <li>Мобільний додаток для перегляду розкладу на <a href="/ios">iOS</a> та <a href="/android">Android</a></li>
      <li>Консультації та підтримку навчальних закладів щодо питань по роботі з
        сервісом <b>Мій Університет</b></li>
        <li>Швидку та стабільну роботу сервісу розкладу для користувачів</li>
      </ul>
    </div>
  <a class="btn btn-primary btn-lg" href="https://t.me/voevodin_yura">Напишіть нам »</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag("admin1.png", class: "img-fluid") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("admin2.png", class: "img-fluid") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("admin3.png", class: "img-fluid") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("admin4.png", class: "img-fluid") %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
