<% meta_tag :description, "Підключення до сервісу Мій Університет" %>
<% meta_tag :keywords, "Онлайн,Розклад,iOS,Android,Додаток,Система,Сервіс,Підключення,Школа,Технікум,Університет,ВНЗ" %>
<% @title = "Мій Університет - Приєднатися" %>

<%= render "layouts/tooltip" %>

<%= render "layouts/header" %>
<main class="container" role="main">

  <div class="row">
    <div class="alert alert-secondary mx-3" role="alert">
      <a href="/My University.pdf" class="alert-link" rel="nofollow">Презентація у форматі PDF</a> 📄
    </div>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Підключення</h1>
    <p class="lead">Комплексна система для впровадження онлайн розкладу для навчальних закладів</br> Приєднуйтеся, щоб бути сучасними!</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Сайт</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₴1000 <small class="text-muted">/ місяць</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Адаптивний дизайн сайту</li>
            <li><%= link_to 'Панель адміністратора', admin_panel_url %></li>
            <li>Підтримка в <b>Telegram</b></li>
          </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="https://forms.gle/xTnzESDapHfnW1a38" rel="nofollow">Заповнити форму</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Сайт + Додаток</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₴1500 <small class="text-muted">/ місяць</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><%= link_to 'iOS', ios_url %> Додаток</li>
            <li><%= link_to 'Android', android_url %> Додаток</li>
            <li><u>Пріорітетна</u> підтримка в <b>Telegram</b></li>
          </ul>
          <a class="btn btn-lg btn-block btn-primary" href="https://forms.gle/xTnzESDapHfnW1a38" rel="nofollow">Почати</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Про</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₴2500 <small class="text-muted">/ місяць</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Публікація новин та оголошень</li>
            <li>Підтримка по <b>телефону</b></li>
            <li>Запити <u>нових функцій</u></li>
          </ul>
          <%= link_to "Зв'яжіться з нами", contacts_url, class: "btn btn-lg btn-block btn-primary" %>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-hover">
        <caption>
          <hr>
          <span>Систему <b>Мій Університет</b> можна використовувати для шкіл, технікумів, коледжів та ВНЗ</span></caption>
          <thead>
            <tr>
              <th scope="col" width="40%">Опція</th>
              <th scope="col" width="20%" class="text-center">Сайт</th>
              <th scope="col" width="20%" class="text-center">Сайт + Додаток</th>
              <th scope="col" width="20%" class="text-center">Про</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Сайт з адаптивним дизайном <span data-toggle="tooltip" title="Адаптивна верстка для смартфонів, планшетів та ПК"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
            <tr>
              <td><%= link_to 'Панель адміністратора', admin_panel_url %> <span data-toggle="tooltip" title="На базі перевіреного фреймворку ActiveAdmin, без багів та помилок"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
            <tr>
              <td>Резервне збереження даних <span data-toggle="tooltip" title="Відновлення даних у випадку збою"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
            <tr>
              <td><%= link_to 'iOS', ios_url %> Додаток <span data-toggle="tooltip" title="Підтримка iOS 13+"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/gray_close" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
            <tr>
              <td><%= link_to 'Android', android_url %> Додаток <span data-toggle="tooltip" title="Підтримка Android 7+"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/gray_close" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
            <tr>
              <td>Підтримка в <b>Telegram</b> <span data-toggle="tooltip" title="Швидка відповідь на запитання та безкоштовні консультації"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
            <tr>
              <td>Підтримка по <b>телефону</b> <span data-toggle="tooltip" title="Швидка відповідь на запитання голосом коли вам зручно"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/gray_close" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/gray_close" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
            <tr>
              <td>Публікація новин у додатку та на сайті <span data-toggle="tooltip" title="Інформування абітурієнтів, студентів та викладацький склад про новини та важливі події"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/gray_close" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/gray_close" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
            <tr>
              <td>Реалізація нових функцій на сайті та в додатку за запитом <span data-toggle="tooltip" title="Співпраця для покращення роботи сервісу"><span style="color: #007bff"><i class="far fa-question-circle fa-sm"></i></span></span></td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/gray_close" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/gray_close" %>
              </td>
              <td style="text-align: center; vertical-align: middle">
                <%= render "layouts/green_checkmark" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <%= render "layouts/footer" %>