<% meta_tag :description, "#{@university.short_name}, Корпус, #{@building.name}" %>
<% meta_tag :keywords, "#{@university.short_name}, Корпус, #{@building.name}, Аудиторії" %>
<% @title = "#{@university.short_name} - корпус #{@building.name}" %>
<%= content_for(:canonical_link, university_building_url(@university.url, @building)) %>
<% no_index %>

<%= render "layouts/navbar", university: @university %>
<p id="notice"><%= notice %></p>

<main class="container" role="main">
  <div class="mb-3">
    <h1><%= @building.name %></h1>
    <h3><%= @building.description %></h3>
  </div>
  <table class="table table-sm table-striped">
    <tbody>
      <% @building.auditoriums.each do |auditorium| %>
      <tr>
        <td><%= link_to auditorium.name, university_auditorium_url(@university.url, auditorium.friendly_id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</main>
<%= render "layouts/footer" %>
