<% meta_tag :description, "Розклад занять #{@university.short_name}, Викладачі" %>
<% meta_tag :keywords, "Викладачі, #{@university.short_name},Розклад,Мій Університет,My University" %>

<%= render "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<main class="container custom-padding-top" role="main">

	<h1>Викладачі</h1>

	<table class="table table-striped">
		<tbody>
			<% @teachers.each do |teacher| %>
			<tr>
				<td><%= teacher.name %></td>
				<td><%= link_to 'Показати', university_teacher_url(@university.url, teacher.id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</main>
<%= render "layouts/footer" %>