<% meta_tag :description, "Розклад занять #{@university.short_name}, Викладачі" %>
<% meta_tag :keywords, "Викладачі, #{@university.short_name},Розклад,Мій Університет,My University" %>

<%= render "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<main class="container" role="main">

	<h1><%= octicon "briefcase", height: 32, width: 32 %> Викладачі</h1>
	<table class="table table-striped">
		<tbody>
			<% @teachers.each do |teacher| %>
			<tr>
				<td><%= link_to teacher.name, university_teacher_url(@university.url, teacher.friendly_id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="container">
    <div class="row">
      <% if @university.url == 'sumdu' %>
      <p class="text-muted font-weight-lighter"><small>Інформація про викладачів із сайту schedule.sumdu.edu.ua</small></p>
      <% elsif @university.url == 'kpi' %>
      <p class="text-muted font-weight-lighter"><small>Інформація про викладачів із сайту rozklad.org.ua</small></p>
      <% end %>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
