<div data-university-url="<%= @university.url %>"></div>
<div data-type="teachers"></div>
<div data-id="<%= @teacher.id %>"></div>
<div data-pair-date="<%= @pair_date %>"></div>

<%= javascript_include_tag 'records' %>

<% meta_tag :keywords, "Розклад, #{@university.short_name}, Викладач, #{@teacher.name}" %>
<% meta_tag :description, "Розклад занять #{@university.short_name}, Викладач - " + @teacher.name %>
<% @title = "#{@university.short_name} - #{@teacher.name}" %>
<%= content_for(:canonical_link, university_teacher_url(@university.url, @teacher)) %>

<%= render "layouts/navbar", university: @university %>
<p id="notice"><%= notice %></p>

<main class="container" role="main">

	<div class="mx-auto col-md-8 mt-4">
		<table>
			<tbody>
				<tr>
					<td class="align-baseline"><h1><%= @teacher.name %></h1></td>
					<td class="align-top">
						<%= link_to info_university_teacher_url(@university.url, @teacher), rel: 'nofollow' do %>
						<i class="fas fa-info-circle align-middle"></i>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<%= render "layouts/datepicker", pair_date: @pair_date %>

	<div id="spinner" class="d-flex justify-content-center min-vh-100">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
		<div style="height:300px;"></div>
	</div>

	<div id="records" class="mt-4"></div>
	<%= render "layouts/source_site" %>
</main>
<%= render "layouts/footer" %>
