<div data-university-url="<%= @university.url %>"></div>
<div data-type="teachers"></div>
<div data-id="<%= @teacher.id %>"></div>
<div data-pair-date="<%= @pair_date %>"></div>

<%= javascript_include_tag 'records' %>

<% meta_tag :keywords, "Розклад, #{@university.short_name}, Викладач, #{@teacher.name}" %>
<% meta_tag :description, "Розклад занять #{@university.short_name}, Викладач - " + @teacher.name %>
<% @title = "#{@university.short_name} - #{@teacher.name}" %>
<%= content_for(:canonical_link, university_teacher_url(@university.url, @teacher)) %>

<%= render "layouts/navbar", university: @university %>
<p id="notice"><%= notice %></p>

<main class="container" role="main">
	<h1><%= @teacher.name %></h1>(Викладач)
	<%= render "layouts/datepicker", pair_date: @pair_date %>

	<div id="spinner" class="d-flex justify-content-center min-vh-100">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
		<div style="height:300px;"></div>
	</div>

	<div id="records" class="mt-4"></div>
	<%= render "layouts/source_site" %>
</main>
<%= render "layouts/footer" %>
