<ul class="list-group list-group-flush">

  <% if university.url == University.khnue_url %>
  <li class="list-group-item border-0">
    <%= octicon "briefcase", height: 24, width: 24, class: "align-middle" %>
    <span class="align-middle"><%= link_to 'Кафедри', university_departments_url(university.url), class: "align-middle ml-2" %></span>
  </li>
  <li class="list-group-item border-0">
    <%= octicon "organization", height: 24, width: 24, class: "align-middle" %>
    <span class="align-middle"><%= link_to 'Факультети', university_faculties_url(university.url), class: "align-middle ml-2" %></span>
  </li>
  <li class="list-group-item border-0">
    <%= octicon "saved", height: 24, width: 24, class: "align-middle" %>
    <span class="align-middle"><%= link_to 'Спеціальності', university_specialities_url(university.url), class: "align-middle ml-2" %></span>
  </li>
  <div class="row"><div class="col"><hr></div></div>
  <% end %>

  <li class="list-group-item border-0">
    <%= octicon "organization", height: 24, width: 24, class: "align-middle" %>
    <span class="align-middle"><%= link_to 'Групи', university_groups_url(university.url), class: "align-middle ml-2" %></span>
  </li>

  <li class="list-group-item border-0">
    <%= octicon "briefcase", height: 24, width: 24, class: "align-middle" %>
    <%= link_to 'Викладачі', university_teachers_url(university.url), class: "align-middle ml-2" %>
  </li>

  <% if university.url != University.kpi_url %>
  <li class="list-group-item border-0">
    <%= octicon "sign-in", height: 24, width: 24, class: "align-middle" %>
    <%= link_to 'Аудиторії', university_auditoriums_url(university.url), class: "align-middle ml-2" %>
  </li>
  <% end %>
</ul>
