<div class="row">

  <div class="col-md-6">
    <ul class="list-group list-group-flush">

      <% if university.show_groups %>
        <li class="list-group-item border-0">
        <i class="fas fa-users align-middle"></i>
        <span class="align-middle"><%= link_to 'Групи', university_groups_url(university.url), class: "align-middle ml-2" %></span>
      </li>  
      <% end %>

      <% if university.show_teachers %>
        <li class="list-group-item border-0">
        <i class="fas fa-briefcase align-middle"></i>
        <%= link_to 'Викладачі', university_teachers_url(university.url), class: "align-middle ml-2" %>
      </li>
      <% end %>

    </ul>
  </div>

  <div class="col-md-6">
    <ul class="list-group list-group-flush">

    <% if university.show_classrooms %>
      <li class="list-group-item border-0">
        <i class="fas fa-door-open align-middle"></i>
        <%= link_to 'Аудиторії', university_auditoriums_url(university.url), class: "align-middle ml-2" %>
      </li>
    <% end %>

    <% if university.show_disciplines %>
      <li class="list-group-item border-0">
        <i class="fas fa-pen"></i>
        <%= link_to university_disciplines_url(university.url), rel: 'nofollow', class: "align-middle ml-2" do %>
          <span>Дисципліни</span><span class="text-warning"> (бета)</span>
          <% end %>
      </li>
    <% end %>

    </ul>
  </div>

</div>

<% if university.uid == University.khnue.uid %>
  <div class="row"><div class="col"><hr></div></div>
  <div class="row">
    <ul class="list-group list-group-flush">

      <li class="list-group-item border-0">
        <span class="align-middle"><%= link_to 'Кафедри', university_departments_url(university.url), class: "align-middle ml-2" %></span>
      </li>
      <li class="list-group-item border-0">
        <span class="align-middle"><%= link_to 'Факультети', university_faculties_url(university.url), class: "align-middle ml-2" %></span>
      </li>
      <li class="list-group-item border-0">
        <span class="align-middle"><%= link_to 'Спеціальності', university_specialities_url(university.url), class: "align-middle ml-2" %></span>
      </li>

    </ul>
  </div>
<% end %>
