<% meta_tag :description, "Розклад занять СумДУ, КПІ" %>
<% meta_tag :keywords, "Розклад,СумДУ,КПІ,Мій Університет,My University" %>

<%= render "layouts/header" %>

<p id="notice"><%= notice %></p>

<main class="container" role="main">

  <p>
    <h1 class="display-4">Університети</h1>  
  </p>

  <table class="table">
    <tbody>
      <% @universities.each do |university| %>
      <tr>
        <td><span class="font-weight-normal"><%= university.full_name %></span> <span class="font-weight-light">(<%= university.short_name %>)</span></td>
        <td><%= link_to 'Показати', university_path(university.url) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</main>
<%= render "layouts/footer" %>