<% meta_tag :description, "Розклад СумДУ, КПІ, ХНЕУ" %>
<% meta_tag :keywords, "Розклад,СумДУ,КПІ,ХНЕУ" %>
<%= content_for(:canonical_link, universities_url) %>
<% no_index %>

<%= render "layouts/header" %>

<main class="container" role="main">
  <div class="mx-auto col-md-8">
    <h1 class="mb-4">Університети</h1>
    <% @universities.each do |university| %>
    <div class="row mb-3">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="media">
              <%= render "universities/university_picture", university: university %>
              <div class="media-body">
                <h1 class="mt-0"><%= university.short_name %><% if university.is_beta %><span class="text-warning"> (бета-версія)</span><% end %></h1>
                <h6 class="card-subtitle mb-2 Text-light font-weight-light"><%= university.full_name %></h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="card-text">
              <%= render "universities/university_list", university: university %>
            </div>
          </div>
          <div class="card-footer">
            <%= render "universities/card_footer", university: university %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</main>
<%= render "layouts/footer" %>
