<% meta_tag :description, "Розклад занять #{@university.short_name}" %>
<% meta_tag :keywords, "Розклад,#{@university.short_name},#{@university.full_name},Мій Університет,My University" %>
<%= content_for(:canonical_link, university_url(@university)) %>

<%= render "layouts/header" %>

<p id="notice"><%= notice %></p>

<main class="container" role="main">
  <p>
    <h1 class="display-5"><%= @university.short_name %></h3>
    <h6>(<%= @university.full_name %>)</h2>
    </p>

    <table class="table">
      <tbody>
        <% if @university.url != "kpi" %>
        <tr>
          <td>Аудиторії (<%= @university.auditorium.count %>)</td>
          <td><%= link_to 'Показати', university_auditoriums_url(@university.url) %></td>
        </tr>
        <tr>
          <% end %>
          <td>Групи (<%= @university.groups.count %>)</td>
          <td><%= link_to 'Показати', university_groups_url(@university.url) %></td>
        </tr>
        <tr>
          <td>Викладачі (<%= @university.teachers.count %>)</td>
          <td><%= link_to 'Показати', university_teachers_url(@university.url) %></td>
        </tr>
      </tbody>
    </table>
  </main>
  <%= render "layouts/footer" %>