<div class="mx-auto col-md-8">
<div class="mb-2">
	<span class="font-weight-bold"><%= l @date, format: "%A, %e %B %Y" %></span>
</div>

<div class="container mb-3">
	<div class="row">
		<div class="col border rounded">
			<div class="mt-2">
				<form action="" method="get">
					<div class="form-group">
						<div class="input-group" id="inputDate">
							<input type="date" id="start" name="pair_date"
							value="<%= @pair_date %>"
							min="2018-01-01" max="2022-12-31" class="form-control">
							<div class="input-group-append">
								<input type="submit" class="btn btn-primary" value="Дивитися">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="btn-group mr-2 mb-2" role="group">
				<form action="" method="get">
					<input type="date" id="start" name="pair_date"
					value="<%= @previousDate %>" hidden>
					<input type="submit" class="btn btn-primary" value="<< <%= l @previousDate, format: "%A, %e %B" %>">
				</form>
			</div>
			<div class="btn-group mr-2 mb-2" role="group">
				<form action="" method="get">
					<input type="date" id="start" name="pair_date"
					value="<%= @nextDate %>" hidden>
					<input type="submit" class="btn btn-primary" value="<%= l @nextDate, format: "%A, %e %B" %> >>">
				</form>
			</div>
		</div>
	</div>
</div>
</div>
