<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<%= link_to(university_url(url: @university.url), class: "navbar-brand") do %>
	<%= @university.short_name %>
	<% if @university.is_beta %><span class="text-warning"> (бета-версія)</span><% end %>
	<% end %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">

			<% if @university.show_classrooms %>
			<li class="nav-item">
				<%= link_to 'Аудиторії', university_auditoriums_url, rel: 'nofollow', class: "nav-link" %>
			</li>	
			<% end %>

			<% if @university.show_teachers %>
			<li class="nav-item">
				<%= link_to 'Викладачі', university_teachers_url, rel: 'nofollow', class: "nav-link" %>
			</li>	
			<% end %>

			<% if @university.show_groups %>
			<li class="nav-item">
				<%= link_to 'Групи', university_groups_url, rel: 'nofollow', class: "nav-link" %>
			</li>
			<% end %>

			<% if @university.show_disciplines %>
			<li class="nav-item">
				<%= link_to university_disciplines_url, rel: 'nofollow', class: "nav-link" do %>
				<span>Дисципліни</span><span class="text-warning"> (бета)</span>
				<% end %>
			</li>
			<% end %>
			
		</ul>
		<ul class="navbar-nav mr-2">
			<% if @university.uid == University.khnue.uid %>
			<div class="row"><div class="col"><hr></div></div>
			<li class="nav-item">
				<%= link_to 'Кафедри', university_departments_url, rel: 'nofollow', class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to 'Факультети', university_faculties_url, rel: 'nofollow', class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to 'Спеціальності', university_specialities_url, rel: 'nofollow', class: "nav-link" %>
			</li>
			<% end %>
		</ul>
		<div class="row"><div class="col"><hr></div></div>
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="https://forms.gle/QuLTXgoKMXbDACGD6">Знайшли помилку?</a></li>
		</ul>
	</div>
</nav>
