<!DOCTYPE html>
<html lang="ua">
<head>
	<% if Rails.env == 'production' %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133300904-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-133300904-1');
	</script>
	<% end %>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="<%= yield_meta_tag(:description, '') %>" />
	<meta name="keywords" content="<%= yield_meta_tag(:keywords, '') %>" />

	<% if yield(:no_index).present? %>
	<meta name="robots" content="noindex">
	<% end %>

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<meta name="msvalidate.01" content="EB3950ED0D0C42C0F22308EB4E680E1E" />

	<title><%= @title %></title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<% if yield(:canonical_link).present? %>
	<link rel="canonical" href="<%= yield(:canonical_link) %>">
	<% end %>

</head>
<body>
	<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>
</body>
</html>
