<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="py-4">
  <div class="container">
    <%= yield %>

    <hr>

    <footer class="container">
      <div class="row">
        <div class="col-sm">
          <p>© 2019 <a href="https://voevodin-yura.com/ua/">Юра Воєводін</a></p>
        </div>
        <div class="col-sm" style="text-align: right;">
          <p><a href="mailto:voevodin-yura@icloud.com">Повідомити про помилку</a></p>
        </div>
      </div> 
    </footer>
  </div>
</div>
</body>
</html>
