<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>
<footer>
  <hr>
  <div>
    <div>
      <p>© 2019 <a href="https://voevodin-yura.com/ua/">Yura Voevodin</a></p>
      <p><a href="mailto:voevodin-yura@icloud.com">Повідомити про помилку</a></p>
    </div>
  </div>
</footer>
</html>
